body {
  background-color: #E4E3E3;
}

h1 {
  color: #204051;
}

h2 {
  color: #3B6978;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: gray;
  width: 5%;
  
}

img {
  border-radius: 10px;
  border-style: solid;
  border-color: #144272;
  
}

