body {
  background-color: #93E4C1;
  color: #113C4A;
  
  font-family: cambria;
}

h1 {
  color: #3BAEA0;
}

h2 {
  color: #118A7E;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: gray;
  width: 5%;
  
}

img {
  border-radius: 10px;
  border-style: solid;
  border-color: #144272;
  
}

th {
  color: #265A5C;
  
}
