body {
  background-color: #005555;
  color: ghostwhite;
  
  font-family: sans-serif;
}

h1 {
  color: #3BAEA0;
}

h2 {
  color: #118A7E;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: gray;
  width: 5%;
  
}

img {
  border-radius: 10px;
  border-style: solid;
  border-color: #144272;
  
}

th {
  color: #265A5C;
  
}

a {
  color: black;
  font-weight: 800;
}
